Repository DanMad/A-Galaxy-Far-Far-Away-Theme: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

Improved bracket support in various languages
  src/rogue-squadron-theme.js
  src/the-empire-theme.js
Due: prettier --write

Added images to resources branch
  editor-examples.png
  rogue-squadron-theme-palette.png
  the-empire-theme-palette.png
Due: none

Removed images from develop branch, updated documentation to reference resources branch
  README.md
  images/editor-examples.png
  images/rogue-squadron-theme-palette.png
  images/the-empire-theme-palette.png
Due: prettier --write

Updated GitHub Workflow
  .github/workflows/master-push.yml
Due: none

Amended publisher key
  package.json
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: any of: {,src/**/}*.{js,json,md}
